@font-face {
    font-family: 'Salome Deco';
    src: url('Salome-Deco.eot');
    src: url('Salome-Deco.eot?#iefix') format('embedded-opentype'),
        url('Salome-Deco.woff2') format('woff2'),
        url('Salome-Deco.woff') format('woff'),
        url('Salome-Deco.ttf') format('truetype'),
        url('Salome-Deco.svg#Salome-Deco') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Deco';
    src: url('Salome-Deco_1.eot');
    src: url('Salome-Deco_1.eot?#iefix') format('embedded-opentype'),
        url('Salome-Deco_1.woff2') format('woff2'),
        url('Salome-Deco_1.woff') format('woff'),
        url('Salome-Deco_1.ttf') format('truetype'),
        url('Salome-Deco_1.svg#Salome-Deco') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('Salome-Fine.eot');
    src: url('Salome-Fine.eot?#iefix') format('embedded-opentype'),
        url('Salome-Fine.woff2') format('woff2'),
        url('Salome-Fine.woff') format('woff'),
        url('Salome-Fine.ttf') format('truetype'),
        url('Salome-Fine.svg#Salome-Fine') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('Salome-Fine_1.eot');
    src: url('Salome-Fine_1.eot?#iefix') format('embedded-opentype'),
        url('Salome-Fine_1.woff2') format('woff2'),
        url('Salome-Fine_1.woff') format('woff'),
        url('Salome-Fine_1.ttf') format('truetype'),
        url('Salome-Fine_1.svg#Salome-Fine') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'salo1';
    src: url('Salome-Italic_0_wt.eot');
    src: url('Salome-Italic_0_wt.eot?#iefix') format('embedded-opentype'),
        url('Salome-Italic_0_wt.woff2') format('woff2'),
        url('Salome-Italic_0_wt.woff') format('woff'),
        url('Salome-Italic_0_wt.ttf') format('truetype'),
        url('Salome-Italic_0_wt.svg#Salome-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'salosss';
    src: url('Salome-Italic_0_wt_1.eot');
    src: url('Salome-Italic_0_wt_1.eot?#iefix') format('embedded-opentype'),
        url('Salome-Italic_0_wt_1.woff2') format('woff2'),
        url('Salome-Italic_0_wt_1.woff') format('woff'),
        url('Salome-Italic_0_wt_1.ttf') format('truetype'),
        url('Salome-Italic_0_wt_1.svg#Salome-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('Salome-Stencil.eot');
    src: url('Salome-Stencil.eot?#iefix') format('embedded-opentype'),
        url('Salome-Stencil.woff2') format('woff2'),
        url('Salome-Stencil.woff') format('woff'),
        url('Salome-Stencil.ttf') format('truetype'),
        url('Salome-Stencil.svg#Salome-Stencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('Salome-Stencil_1.eot');
    src: url('Salome-Stencil_1.eot?#iefix') format('embedded-opentype'),
        url('Salome-Stencil_1.woff2') format('woff2'),
        url('Salome-Stencil_1.woff') format('woff'),
        url('Salome-Stencil_1.ttf') format('truetype'),
        url('Salome-Stencil_1.svg#Salome-Stencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome';
    src: url('Salome.eot');
    src: url('Salome.eot?#iefix') format('embedded-opentype'),
        url('Salome.woff2') format('woff2'),
        url('Salome.woff') format('woff'),
        url('Salome.ttf') format('truetype'),
        url('Salome.svg#Salome') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome';
    src: url('Salome_1.eot');
    src: url('Salome_1.eot?#iefix') format('embedded-opentype'),
        url('Salome_1.woff2') format('woff2'),
        url('Salome_1.woff') format('woff'),
        url('Salome_1.ttf') format('truetype'),
        url('Salome_1.svg#Salome') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ddddd';
    src: url('SalomeFine-Italic_0_wt.eot');
    src: url('SalomeFine-Italic_0_wt.eot?#iefix') format('embedded-opentype'),
        url('SalomeFine-Italic_0_wt.woff2') format('woff2'),
        url('SalomeFine-Italic_0_wt.woff') format('woff'),
        url('SalomeFine-Italic_0_wt.ttf') format('truetype'),
        url('SalomeFine-Italic_0_wt.svg#SalomeFine-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('SalomeFine-Italic_0_wt_1.eot');
    src: url('SalomeFine-Italic_0_wt_1.eot?#iefix') format('embedded-opentype'),
        url('SalomeFine-Italic_0_wt_1.woff2') format('woff2'),
        url('SalomeFine-Italic_0_wt_1.woff') format('woff'),
        url('SalomeFine-Italic_0_wt_1.ttf') format('truetype'),
        url('SalomeFine-Italic_0_wt_1.svg#SalomeFine-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('SalomeStencil-Italic_0_wt.eot');
    src: url('SalomeStencil-Italic_0_wt.eot?#iefix') format('embedded-opentype'),
        url('SalomeStencil-Italic_0_wt.woff2') format('woff2'),
        url('SalomeStencil-Italic_0_wt.woff') format('woff'),
        url('SalomeStencil-Italic_0_wt.ttf') format('truetype'),
        url('SalomeStencil-Italic_0_wt.svg#SalomeStencil-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('SalomeStencil-Italic_0_wt_1.eot');
    src: url('SalomeStencil-Italic_0_wt_1.eot?#iefix') format('embedded-opentype'),
        url('SalomeStencil-Italic_0_wt_1.woff2') format('woff2'),
        url('SalomeStencil-Italic_0_wt_1.woff') format('woff'),
        url('SalomeStencil-Italic_0_wt_1.ttf') format('truetype'),
        url('SalomeStencil-Italic_0_wt_1.svg#SalomeStencil-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Deco';
    src: url('Salome-Deco_2.eot');
    src: url('Salome-Deco_2.eot?#iefix') format('embedded-opentype'),
        url('Salome-Deco_2.woff2') format('woff2'),
        url('Salome-Deco_2.woff') format('woff'),
        url('Salome-Deco_2.ttf') format('truetype'),
        url('Salome-Deco_2.svg#Salome-Deco') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Deco';
    src: url('Salome-Deco_3.eot');
    src: url('Salome-Deco_3.eot?#iefix') format('embedded-opentype'),
        url('Salome-Deco_3.woff2') format('woff2'),
        url('Salome-Deco_3.woff') format('woff'),
        url('Salome-Deco_3.ttf') format('truetype'),
        url('Salome-Deco_3.svg#Salome-Deco') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('Salome-Fine_2.eot');
    src: url('Salome-Fine_2.eot?#iefix') format('embedded-opentype'),
        url('Salome-Fine_2.woff2') format('woff2'),
        url('Salome-Fine_2.woff') format('woff'),
        url('Salome-Fine_2.ttf') format('truetype'),
        url('Salome-Fine_2.svg#Salome-Fine') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('Salome-Fine_3.eot');
    src: url('Salome-Fine_3.eot?#iefix') format('embedded-opentype'),
        url('Salome-Fine_3.woff2') format('woff2'),
        url('Salome-Fine_3.woff') format('woff'),
        url('Salome-Fine_3.ttf') format('truetype'),
        url('Salome-Fine_3.svg#Salome-Fine') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome';
    src: url('Salome-Italic_0_wt_2.eot');
    src: url('Salome-Italic_0_wt_2.eot?#iefix') format('embedded-opentype'),
        url('Salome-Italic_0_wt_2.woff2') format('woff2'),
        url('Salome-Italic_0_wt_2.woff') format('woff'),
        url('Salome-Italic_0_wt_2.ttf') format('truetype'),
        url('Salome-Italic_0_wt_2.svg#Salome-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'salo';
    src: url('Salome-Italic_0_wt_3.eot');
    src: url('Salome-Italic_0_wt_3.eot?#iefix') format('embedded-opentype'),
        url('Salome-Italic_0_wt_3.woff2') format('woff2'),
        url('Salome-Italic_0_wt_3.woff') format('woff'),
        url('Salome-Italic_0_wt_3.ttf') format('truetype'),
        url('Salome-Italic_0_wt_3.svg#Salome-Italic_0_wt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('Salome-Stencil_2.eot');
    src: url('Salome-Stencil_2.eot?#iefix') format('embedded-opentype'),
        url('Salome-Stencil_2.woff2') format('woff2'),
        url('Salome-Stencil_2.woff') format('woff'),
        url('Salome-Stencil_2.ttf') format('truetype'),
        url('Salome-Stencil_2.svg#Salome-Stencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

